/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env


*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea/
*.sublime-workspace
*.sublime-project
/nbproject/
.tm_properties
.buildpath
.project
.settings/
koala-config.json
.externalToolBuilders/
.sass-cache
composer.lock
